<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTasks</title>
</head>
<body>
    <button id="logoutButton" type="button">logout</button>
    <h1>My tasks</h1>

    <div id="tableDiv">
        <table id="tasksTable">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Done</th>
            </tr>
<!--            <tr>-->
<!--                <td>Emil</td>-->
<!--                <td>Tobias</td>-->
<!--                <td>Linus</td>-->
<!--            </tr>-->
        </table>
    </div>

    <button class="createTaskButton" type="button">Create task</button>

    <script src="/js/common/setButtonHref.js"></script>
    <script src="/js/tasks/myTasks/myTasks.js"></script>
    <script src="/js/login/logoutButtonHandler.js"></script>
</body>
</html>